:root {
    --primaryColor: #84ffff;
}

* {
    box-sizing: border-box;
}

.menu {
    width: 65vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: -65vw;
    z-index: 50;
    opacity: 0;
    padding: 2rem;
    transition:  left .75s linear, opacity 1s linear;
}

.menu.hover {
    opacity: 1;
    left: 0;
}

nav .container,
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    transition: top 0.3s ease;
    background-color: var(--primaryColor);
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background-color: var(--primaryColor);
}

footer i {
    color: white;
}

footer .container {
    padding: 2rem;
}